<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Create New Group</title>
</head>
<body>

<section layout:fragment="content">
    <div class="main-header">
        <h2 class="title">Create New Group</h2>
    </div>
    <th:block th:if="${messenge}">
        <div th:text="${messenge}" class="alert alert-success" role="alert"></div>
    </th:block>
    <form th:object="${group}" method="post">
        <div class="form-group">
            <label>Group Name: </label>
            <input th:field="*{name}" type="text" class="form-control" />
            <br>
            <label>Content: </label>
            <textarea th:field="*{content}" class="form-control" rows="10"></textarea>
            <br>
            <button class="btn-primary">Create New Group</button>
        </div>
    </form>
</section>

</body>
</html>